.player{
    width: 300px;
    height: 650px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    background-color: white;
}
.player img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.player-info{
    margin: 0 14px;
    margin-top: 5px;
}
.player-info p{
    margin-top: 5px;
    margin-bottom: 0;
}
.age-time{
    color: #95a0a7c3;
}
.btn-cart{
    width: 100%;
    background-color: coral;
    border-radius: 8px;
    border: none;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}

.btn-cart:hover{
    background: orange;
}
