
.cart{
    position: sticky;
    top: 0;
    padding: 30px 10px;
}
.meserment{
    margin: 40px;
    display: flex;
    background-color: rgba(105, 105, 105, 0.162);
    border-radius: 30px;
}
.height{
    margin-right: 20px;
    margin-left: 30px;
}
.time{
    display: flex;
    background-color: rgba(105, 105, 105, 0.162);
    margin: 30px;
    border-radius: 20px;
}
.time a{
    margin-right: 50px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.image-section{
    display: flex;
}
.image{
    width: 100px;
    margin-right: 20px;
}
.exercise-time{
    background-color: rgba(105, 105, 105, 0.162);
    margin: 40px;
    padding: 15px;
    border-radius: 30px;
}

.complete{
    font-size: 25px;
    background-color: greenyellow;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin-left: 100px;
    color: white;
}



@media only screen and (max-width: 992px) {
    .meserment{
        display: flex;
        background-color: rgba(105, 105, 105, 0.162);
        border-radius: 30px;
    }
    
}
@media only screen and (max-width: 600px) {
    .meserment{
        display: flex;
        background-color: rgba(105, 105, 105, 0.162);
        border-radius: 30px;
        margin: 0;
    }
    .time{
        display: flex;
        background-color: rgba(105, 105, 105, 0.162);
        border-radius: 20px;
        margin: 0;
    }
    .image{
        width: 100px;
        margin-right: 0;
    }
    .exercise-time{
        background-color: rgba(105, 105, 105, 0.162);
        margin: 10px 0;
        padding: 15px;
        border-radius: 30px;
    }
    .time a{
        margin-right: 10px;
    }
}